<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
         http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
		 
  <servlet>
    <servlet-name>Servlet_SVR_CreateServer</servlet-name>
    <servlet-class>com.novaytechnologies.conspiracysquares.Servlet_SVR_CreateServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_SVR_CreateServer</servlet-name>
    <url-pattern>/Servlet_SVR_CreateServer</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Servlet_SVR_CheckPassword</servlet-name>
    <servlet-class>com.novaytechnologies.conspiracysquares.Servlet_SVR_CheckPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_SVR_CheckPassword</servlet-name>
    <url-pattern>/Servlet_SVR_CheckPassword</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Servlet_SVR_ServerJoin</servlet-name>
    <servlet-class>com.novaytechnologies.conspiracysquares.Servlet_SVR_ServerJoin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_SVR_ServerJoin</servlet-name>
    <url-pattern>/Servlet_SVR_ServerJoin</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Servlet_SVR_ServerLeave</servlet-name>
    <servlet-class>com.novaytechnologies.conspiracysquares.Servlet_SVR_ServerLeave</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_SVR_ServerLeave</servlet-name>
    <url-pattern>/Servlet_SVR_ServerLeave</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Servlet_SVR_ListServers</servlet-name>
    <servlet-class>com.novaytechnologies.conspiracysquares.Servlet_SVR_ListServers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_SVR_ListServers</servlet-name>
    <url-pattern>/Servlet_SVR_ListServers</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Servlet_Game_Sync</servlet-name>
    <servlet-class>com.novaytechnologies.conspiracysquares.Servlet_Game_Sync</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_Game_Sync</servlet-name>
    <url-pattern>/Servlet_Game_Sync</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Servlet_Game_Move</servlet-name>
    <servlet-class>com.novaytechnologies.conspiracysquares.Servlet_Game_Move</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_Game_Move</servlet-name>
    <url-pattern>/Servlet_Game_Move</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Servlet_RoundStart</servlet-name>
    <servlet-class>com.novaytechnologies.conspiracysquares.Servlet_RoundStart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_RoundStart</servlet-name>
    <url-pattern>/Servlet_RoundStart</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Cron_RemoveEmptyServers</servlet-name>
    <servlet-class>com.novaytechnologies.conspiracysquares.Cron_RemoveEmptyServers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cron_RemoveEmptyServers</servlet-name>
    <url-pattern>/Cron_RemoveEmptyServers</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>lock.jsp</welcome-file>
  </welcome-file-list>

  <filter>
    <filter-name>ObjectifyFilter</filter-name>
    <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ObjectifyFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.novaytechnologies.conspiracysquares.OfyHelper</listener-class>
  </listener>
</web-app>
